/* flex stuff */
.container{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.flex-row{
    display:flex
}



/*top box styles*/
#top {
    flex-direction: column; /* Stack title and tabs vertically */
    align-items: flex-start; /* Align items to the left */
    border-style: solid;
}

.title {
    display: flex; /* Ensure this is flex */
    flex-direction: row; /* Align logo and text horizontally */
    align-items: center; /* Center items vertically */
    border-style: solid;
}

.title img {
    margin-right: 10px; /* Add some space between the image and the text */
}

.tab {
    border-style: solid;
    margin-top: 10px; /* Add space between title and tabs */
}



/*middle box styles*/
#middle{
    flex-direction: row;
    border-style: solid;
}
.tab-content{
    display: none;
    border-style: solid;
}
.side-bar{
    border-style: solid;
}



/*bottom box styles*/
#bottom{
    flex-direction: column;
    border-style: solid;
}

.footnote{
    border-style: solid;
}