body {
  background: url("../../images/half-life-bgrnd.jpg");
  background-size: cover;
}

.controls{
    color: orange;
    display: flex;
    justify-content: flex-end;
}

.control{
    border-width: 4px;
    border-color: gray;
    border-style: solid;
}

.title-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
}

.large-text {
    font-size: 48px;
    color: rgba(255, 255, 255, 0.3);
    position: absolute;
    z-index: 1;
    margin: 0;
    padding: 0;
    top:5px;
}

.small-text {
    font-size: 24px;
    position: absolute;
    z-index: 2;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

.menu-option {
  display: flex;
  align-items: flex-start; /* Align items to the top */
  gap: 20px; /* Space between the header and content */
  max-width: 800px; /* Adjust as needed */
  margin: 0 auto; /* Center the container */
}

.option {
  font-size: 24px; /* Larger font size for the header */
  font-weight: bold;
  flex: 1; /* Allow the header to take up space */
  color: orange;
}

.description {
  font-size: 16px; /* Smaller font size for the content */
  flex: 2; /* Allow the content to take up more space */
  color: #ffffff; /* Optional: lighter color for the content */
}
